*{
    box-sizing: border-box;
}
body{
    display: flex;
}
main{
    flex:1;
}

.photo-card{
    position: relative;
}
.photo-id{
    position: absolute;
    top: 0;
    left: 0;
}
.photo-img{
    width: 250px;
    height: 150px;
    border-radius: 8px;
}